.nav {
  display: flex;
  justify-content: flex-end;
}

.nav__links {
  display: flex;
  justify-content: right;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
  column-gap: 20px;
  top: 30;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: color 1.3s ease-in-out;
}

.nav__link:hover {
  color: #2f80ed;
}

.nav__logo {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 39px;
  width: 105px;
}
